@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

.heading-l {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
}
.heading-m {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
.heading-s {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.title-xl {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.title-l {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
}
.title-m {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}
.title-s {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.body-b-xl {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.body-b-l {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
}
.body-b-m {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}
.body-b-s {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.body-b-xs {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
.body-r-xl {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.body-r-l {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
}
.body-r-m {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.body-r-s {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.body-r-xs {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
